<div class="w-full flex flex-col h-screen">
  <header class="fixed top-0 left-0 right-0 z-[9999] bg-transparent backdrop-blur-sm text-black text-xl p-3 shadow-lg">
    AI Chat
  </header>

  <main #chatContainer class="flex-1 p-3 overflow-y-auto pt-12" style="height: calc(100vh - 132px);">
    <div *ngFor="let msg of messages" class="rounded-lg" [ngClass]="msg.role === 'user' ? 'text-right' : 'text-left'">
      <div [ngClass]="msg.role === 'user' ? 'bg-blue-100 text-blue-900 ml-auto' : 'bg-gray-300 text-gray-900 mr-auto'"
           class="prose prose-lg rounded-lg inline-block px-3 py-2 mb-2 max-w-[80%]"
           [innerHTML]="msg.content">
      </div>
    </div>
  </main>

  <footer class="w-full bg-white">
    <app-chat (messageChange)="onMessageChange($event)"/>
  </footer>
</div>
