<div class="flex flex-col h-full bg-gray-50">
  <div class="flex-1 overflow-y-auto">
    <div *ngIf="loading" class="flex justify-center items-center p-4">
      <span class="loader mr-2"></span> <span>Loading...</span>
    </div>
  </div>
  <form (ngSubmit)="sendMessage()" class="flex flex-col shrink-0 bg-white gap-2 p-2">
    <textarea rows="4" cols="50" [(ngModel)]="prompt" autocomplete="off"
              class="w-full px-4 py-2 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200 placeholder-gray-400 hover:border-gray-400"
              name="prompt" placeholder="Type your message..."
              required></textarea>
    <button [disabled]="loading || !prompt.trim()"
            class="bg-zinc-600 w-24 h-8 text-white rounded disabled:opacity-50"
            type="submit">Send
    </button>
  </form>
</div>
